/.cache
/.clangd
/build/ 
/build.*/
/subprojects/*
!/subprojects/omp_stub.wrap
!/subprojects/lua.wrap
!/subprojects/args.wrap
!/subprojects/glm.wrap
!/subprojects/imgui.wrap
!/subprojects/magic_enum.wrap
!/subprojects/nanobench.wrap
!/subprojects/pugixml.wrap
!/subprojects/spdlog.wrap
!/subprojects/vs-templ.wrap
!/subprojects/vs-xml.wrap
!/subprojects/implot.wrap
!/subprojects/packagefiles/
!/subprojects/openmp-stub/
*.autogen.*
/node_modules/
/bun.lockb
/private
/.vscode/
/imgui.ini